<footer class="site-footer">
    <div class="wrapper wrap">
        <img src="{{site.baseurl}}/assets/img/background.png" style="float: right; width: 100px; margin-top: -8%"/>
        <ul class="contact-list" style="margin-top: 18%; position: relative; margin-left: 3%">
            <li>
                {% include icon-github.html username=site.githubuser1 %}
                {% include icon-github.html username=site.githubuser2 %}
            </li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </div>
</footer>
