<header>
    <h1>
        Mafal-Día
    </h1>
    <div style="color:grey;"></h3>Una historieta de Mafalda, todos los días.</div>
    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/" style="text-decoration:none;">Historieta de Hoy</a></li>
            <li><a href="{{site.baseurl}}/archivo" style="text-decoration:none;">Archivo</a></li>
            <li><a href="{{site.baseurl}}/aboutmafalda" style="text-decoration:none;">Acerca de Mafalda</a></li>
            <li><a href="{{site.baseurl}}/about" style="text-decoration:none;">Acerca de Nosotros</a></li>
        </ul>
    </nav>
</header>
