<header>
    <h1 class="container-centrado">
        {{site.title}}
    </h1>
    <h3>{{site.description}}</h3>
    <nav class="container-centrado">
        <ul class="container-centrado">
            <a style='text-decoration: none;' href="{{site.baseurl}}/" class="boton"><li>Historietas</li></a>
            <a style='text-decoration: none;' href="{{site.baseurl}}/archivo"><li class="boton">Archivo</li></a>
            <a style='text-decoration: none;' href="http://www.quino.com.ar/"><li class="boton">Quino</li></a>
        </ul>
    </nav>
</header>
