---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#historietas {
    height: auto;
    margin: auto;
    width: 60vw;
}

#footer-foto-mafalda {
    float: right; width: 100px;
}

#quino {
    float: right;
    margin-top: 55px;
    width: 100px;
}

.wrapper {
    max-width: -webkit-calc(80vw - (30px * 2));
    max-width: calc(80vw - (30px * 2));
    margin-right: auto; margin-left: auto;
    padding-right: 30px; padding-left: 30px;
    height: auto;
}

.page-content {
    max-width: -webkit-calc(80vw - (30px * 2));
    max-width: calc(80vw - (30px * 2));
    margin-right: auto; margin-left: auto;
    padding-right: 30px; padding-left: 30px;
    height: auto;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(60vw - (30px));
        max-width: calc(60vw - (30px));
        padding-right: 15px; padding-left: 15px;
        height: auto;
    }
    .page-content {
        max-width: -webkit-calc(60vw - (30px));
        max-width: calc(60vw - (30px));
        padding-right: 15px; padding-left: 15px;
        height: auto;
    }
    footer .wrapper {
        max-width: 90vw;
    }
    .contact-list {
        visibility: hidden;
    }
    #quino {
        float: left;
    }
}


@media screen and (min-width: 1550px) {
    footer {
        border-top:0px;
    }
}



h3{
    color: grey;
}

ul, ol {
    margin-left: 0px;
}

.archivo {
    list-style: none;
}

.archivo li {
    float:left;
}

.archivo li a {
    display: block;
    padding: 8px;
    width: 32px;

}


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background: #FFC133;
    width: 100%;
    padding: 10px 0;
    color: white;
    text-align: center;
}
naval ul{
    background-color: azure;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li:hover{
    background-color: cornsilk;
}

section{
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
}

