---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* ------------------------------
 GENERAL 
--------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:lightcyan;
    font-family: sans-serif;
}

#historietas {
    height: auto;
    margin: auto;
    width: 60vw;
}

.container-centrado {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.container-espaciado {
    padding: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.container-centrado ul, ol {
    margin-left: 0px;
    list-style-type: none;
}

.boton {
    background-color: azure;
    overflow: hidden;
    padding: 1em;
    margin: 1em;
}

.boton:hover{
    background-color: azure;
}

button {
    background-color: #FFC133;
    border: none;
    color: azure;
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
}

.archivo li {
    float:left;
}

.archivo li a {
    display: block;
    padding: 8px;
    width: 32px;
}

/* ------------------------------
 HEADER 
--------------------------------*/

h1 {
    font-size: 300%;
    color:rgb(48, 39, 39);
    margin-top: 5%;
    text-align: center;
}

h3 {
    color: grey;
    font-size: 110%;
    text-align: center;
}

.menu {
    display: flex;
    padding: 1em;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    background: #FFC133;
}

.menu li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

.menu li :hover {
    background: rgb(255, 210, 104);
}



/* ------------------------------
 FOOTER 
--------------------------------*/

footer {
    width: 100%;
    background: rgb(48, 39, 39);
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

.nombres-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    margin-left: 5%;
}

.nombres-footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

.mafalda-img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
}