<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  {% include slider_styles.html %}
  <link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/x-icon">
  <script type="text/javascript" src="{{ '/assets/js/random.js' | relative_url }}"></script>
	<body>

	{% include header.html %}

    <main class="container-centrado" aria-label="Content">
      <div class="container-centrado">
        {{ content }}
      </div>

    </main>

    {% include footer.html %}

    {% include slider_scripts.html %}

    </body>

</html>
