<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}


	<body style="background-color:lightcyan;">

	<header>
		<h1>
			"Mafal-día"
		</h1>
		<nav>
			<ul>
				<li><a href="{{site.baseurl}}/index.md">Principal</a></li>
				<li><a href="{{site.baseurl}}/index.md">Referencias</a></li>
			</ul>
		</nav>
	</header>
	
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
